$mesGeneracion DE $anioGeneracion
CICLO GPO. ING.         TOTAL           PAGOS ADELANTADOS    TOT. SIN PAGOS ADEL.       $MES_FACTURA           $MES_FACTURA              $MES_FACTURA             $MES_FACTURA             $MES_FACTURA              $MES_FACTURA           $MES_FACTURA              $MES_FACTURA             $MES_FACTURA              $MES_FACTURA              $MES_FACTURA              $MES_FACTURA  +
----- --------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- ---------------------
$CICLO     $grupo_Ing       $MONTO_PAGADO