$mesAnioC[12] #set( $desp = 17 ) #set( $left = 21 )
CICLO       GPO. ING.          TOTAL           PAGOS ADELANTADOS    TOT. SIN PAGOS ADEL.  $sUt.left( $mesAnio[12], $desp)  $sUt.left($mesAnio[11], $desp) $sUt.left($mesAnio[10], $left) $sUt.left($mesAnio[9], $left) $sUt.left($mesAnio[8], $left) $sUt.left($mesAnio[7], $left) $sUt.left($mesAnio[6], $left) $sUt.left($mesAnio[5], $left) $sUt.left($mesAnio[4], $left) $sUt.left($mesAnio[3], $left) $sUt.left($mesAnio[2], $left) $sUt.left($mesAnio[1], $left) $sUt.left($mesAnio[0], $left)
----- ------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- ---------------------
#foreach( $list in $pagosFacturados )
 $sUt.left($list.ciclo, 2)  $sUt.left($list.grupoIng, 16) $sUt.left(  $list.total , $left) $sUt.left( $list.pagosAdelantados , $left) $sUt.left($list.sinPagosAdelantados ,  $left) $sUt.left( $list.mes,  $left) $sUt.left( $list.mes0,  $left) $sUt.left( $list.mes1,  $left) $sUt.left( $list.mes2 ,  $left) $sUt.left( $list.mes3	,  $left) $sUt.left( $list.mes4	,  $left) $sUt.left( $list.mes5	,  $left)  $sUt.left( $list.mes6,  $left) $sUt.left($list.mes7 ,  $left) $sUt.left($list.mes8 ,  $left)  $sUt.left( $list.mes9,  $left) $sUt.left( $list.mes10,  $left) $sUt.left( $list.mes11,  $left) 	$sUt.left($list.mes12 ,  $left)

#end

----- ------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- ---------------------
$sUt.left($total.ciclo, 1)  $sUt.left($total.grupoIng, 16) $sUt.left(  $total.total , $left) $sUt.left( $total.pagosAdelantados , $left) $sUt.left($total.sinPagosAdelantados ,  $left) $sUt.left( $total.mes,  $left) $sUt.left( $total.mes0,  $left) $sUt.left( $total.mes1,  $left) $sUt.left( $total.mes2 ,  $left) $sUt.left( $total.mes3	,  $left) $sUt.left( $total.mes4	,  $left) $sUt.left( $total.mes5	,  $left)  $sUt.left( $total.mes6,  $left) $sUt.left($total.mes7 ,  $left) $sUt.left($total.mes8 ,  $left)  $sUt.left( $total.mes9,  $left) $sUt.left( $total.mes10,  $left) $sUt.left( $total.mes11,  $left) 	$sUt.left($total.mes12 ,  $left)

RESUMEN POR GRUPO DE INGRESOS
CICLO       GPO. ING.          TOTAL           PAGOS ADELANTADOS    TOT. SIN PAGOS ADEL.  $sUt.left( $mesAnio[12], $desp)  $sUt.left($mesAnio[11], $desp) $sUt.left($mesAnio[10], $left) $sUt.left($mesAnio[9], $left) $sUt.left($mesAnio[8], $left) $sUt.left($mesAnio[7], $left) $sUt.left($mesAnio[6], $left) $sUt.left($mesAnio[5], $left) $sUt.left($mesAnio[4], $left) $sUt.left($mesAnio[3], $left) $sUt.left($mesAnio[2], $left) $sUt.left($mesAnio[1], $left) $sUt.left($mesAnio[0], $left)
----- ------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- ---------------------


----- ------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- --------------------- ---------------------
$sUt.left($total.ciclo, 1)  $sUt.left($total.grupoIng, 16) $sUt.left(  $total.total , $left) $sUt.left( $total.pagosAdelantados , $left) $sUt.left($total.sinPagosAdelantados ,  $left) $sUt.left( $total.mes,  $left) $sUt.left( $total.mes0,  $left) $sUt.left( $total.mes1,  $left) $sUt.left( $total.mes2 ,  $left) $sUt.left( $total.mes3	,  $left) $sUt.left( $total.mes4	,  $left) $sUt.left( $total.mes5	,  $left)  $sUt.left( $total.mes6,  $left) $sUt.left($total.mes7 ,  $left) $sUt.left($total.mes8 ,  $left)  $sUt.left( $total.mes9,  $left) $sUt.left( $total.mes10,  $left) $sUt.left( $total.mes11,  $left) 	$sUt.left($total.mes12 ,  $left)
